@import "tailwindcss";

html {
  scrollbar-gutter: stable; 
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav {
    position: absolute;
    top: 90px;
    width: 100%;
  }
  .hide {
    display: none;
  }
}


.star .active svg{
  fill: yellow;
  stroke: red;
}
.star .hovered svg{
  fill: blue;
  stroke: green;
}
